################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASM_GUI/obj/Debug/netcoreapp3.1/win-x64
